---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/save_url
    body:
      encoding: UTF-8
      string: '{"path":"/photo_3.jpg","url":"1a6a24061000"}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Request-Id:
      - 869d445297115b7aca70d4e8f079f8bc
    body:
      encoding: UTF-8
      string: '{"error_summary": "invalid_url/..", "error": {".tag": "invalid_url"}}'
  recorded_at: Tue, 13 Dec 2016 17:18:18 GMT
recorded_with: VCR 3.0.1
