---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/list_revisions
    body:
      encoding: UTF-8
      string: '{"limit":10,"path":"/unexisting_file"}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Request-Id:
      - ace7be5e95aa1fcf86b6ba9b11ff02c4
    body:
      encoding: UTF-8
      string: '{"error_summary": "path/not_found/", "error": {".tag": "path", "path":
        {".tag": "not_found"}}}'
  recorded_at: Sat, 30 Jul 2016 09:58:39 GMT
recorded_with: VCR 3.0.1
