---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/list_revisions
    body:
      encoding: UTF-8
      string: '{"limit":10,"path":"/file.txt"}'
    headers:
      Authorization:
      - Bearer VofXAX8DO1sAAAAAAAACFsM04PkG3k9OQMYjyFkvI1cJhaUYFQ1ZxEegMZeFWkVD
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Server-Response-Time:
      - '92'
      X-Dropbox-Request-Id:
      - ba72ce78bd2163c2ec97c954d03a1c95
    body:
      encoding: UTF-8
      string: '{"is_deleted": true, "entries": [{"name": "file.txt", "path_lower":
        "/file.txt", "path_display": "/file.txt", "id": "id:XsZovXcpKaAAAAAAAAAAAQ",
        "client_modified": "2016-07-10T19:19:47Z", "server_modified": "2016-07-10T19:19:47Z",
        "rev": "1a6b24061bdd", "size": 12}, {"name": "file.txt", "path_lower": "/file.txt",
        "path_display": "/file.txt", "id": "id:XsZovXcpKaAAAAAAAAAAAQ", "client_modified":
        "2016-07-10T19:19:03Z", "server_modified": "2016-07-10T19:19:03Z", "rev":
        "1a6a24061bdd", "size": 14}]}'
  recorded_at: Sat, 30 Jul 2016 09:58:38 GMT
recorded_with: VCR 3.0.1
