---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/sharing/list_folder_members
    body:
      encoding: UTF-8
      string: '{"limit":100,"shared_folder_id":"1231273663","actions":["remove","make_owner"]}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Dropbox-Request-Id:
      - 3a270b2354695f095cdf3ef04f4ad958
      X-Server-Response-Time:
      - '154'
    body:
      encoding: UTF-8
      string: '
      {
        "users": [{
          "access_type": {".tag": "owner"},
          "permissions": [
            {"action": {".tag": "remove"},     "allow": false, "reason": {".tag": "target_is_self"}},
            {"action": {".tag": "make_owner"}, "allow": false, "reason": {".tag": "target_is_self"}}
          ],
          "is_inherited": false,
          "user": {"account_id": "dbid:AAAKVPLEKkkccsZMFkkZNXFeyXrPPhrtFxs",
            "same_team": false
          }
        }],
        "groups": [],
        "invitees": []
      }'
  recorded_at: Sat, 22 Oct 2016 09:45:24 GMT
recorded_with: VCR 3.0.1
