---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/sharing/share_folder
    body:
      encoding: UTF-8
      string: '{"member_policy":"anyone","acl_update_policy":"owner","shared_link_policy":"anyone","force_async":false,"path":"/already_shared"}'
    headers:
      Authorization:
      - Bearer VofXAX8DO1sAAAAAAAACFsM04PkG3k9OQMYjyFkvI1cJhaUYFQ1ZxEegMZeFWkVD
      Content-Type:
      - application/json
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Request-Id:
      - e9e8d675105a6183563bdb44a91ceaa5
    body:
      encoding: UTF-8
      string: '{"error_summary": "bad_path/already_shared/..", "error": {".tag": "bad_path",
        "bad_path": {".tag": "already_shared", "access_type": {".tag": "owner"}, "is_team_folder":
        false, "policy": {"acl_update_policy": {".tag": "owner"}, "shared_link_policy":
        {".tag": "anyone"}}, "path_lower": "/already_shared", "name": "already_shared",
        "shared_folder_id": "1236413110", "time_invited": "2016-06-11T09:59:03Z"}},
        "user_message": {"locale": "en", "text": "This folder is already shared."}}'
  recorded_at: Sat, 11 Jun 2016 09:59:05 GMT
recorded_with: VCR 3.0.1
