---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/sharing/share_folder
    body:
      encoding: UTF-8
      string: '{"member_policy":"anyone","acl_update_policy":"owner","shared_link_policy":"anyone","force_async":false,"path":"/folder_k"}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Server-Response-Time:
      - '1055'
      X-Dropbox-Request-Id:
      - 1ca0cc930f2dda810b3f7bc7c2f290f6
    body:
      encoding: UTF-8
      string: '{".tag": "complete", "access_type": {".tag": "owner"}, "is_team_folder":
        false, "policy": {"acl_update_policy": {".tag": "owner"}, "shared_link_policy":
        {".tag": "anyone"}}, "path_lower": "/folder_k", "name": "folder_k", "shared_folder_id":
        "1236414195", "time_invited": "2016-06-11T10:01:54Z"}'
  recorded_at: Sat, 11 Jun 2016 10:01:55 GMT
recorded_with: VCR 3.0.1
