---
http_interactions:
- request:
    method: post
    uri: https://content.dropboxapi.com/2/files/upload_session/append_v2
    body:
      encoding: UTF-8
      string: Hello Dropbox!
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Dropbox-Api-Arg:
      - '{"cursor":{"session_id":"INVALID_CURSOR","offset":0}}'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 409
      message: not_found/...
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Request-Id:
      - 2abb867d8f50f666f4f3ab44b06a81e3
    body:
      encoding: UTF-8
      string: '{"error_summary": "not_found/...", "error": {".tag": "not_found"}}'
  recorded_at: Mon, 09 Jan 2017 19:36:12 GMT
recorded_with: VCR 3.0.1
