---
http_interactions:
- request:
    method: post
    uri: https://content.dropboxapi.com/2/files/upload_session/start
    body:
      encoding: UTF-8
      string: '123456789'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Dropbox-Api-Arg:
      - "{}"
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server-Response-Time:
      - '312'
      X-Dropbox-Request-Id:
      - dbb8f46df53775f5aeb4478ad6ad8dd1
    body:
      encoding: ASCII-8BIT
      string: '{"session_id": "AAAAAAAABCPL5NgNqDSCLg"}'
  recorded_at: Mon, 09 Jan 2017 19:40:04 GMT
- request:
    method: post
    uri: https://content.dropboxapi.com/2/files/upload_session/append_v2
    body:
      encoding: UTF-8
      string: Hello Dropbox!
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Dropbox-Api-Arg:
      - '{"cursor":{"session_id":"AAAAAAAABCPL5NgNqDSCLg","offset":42}}'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 409
      message: incorrect_offset/
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Request-Id:
      - 888448d32c49b1b050218c4996d63d1d
    body:
      encoding: UTF-8
      string: '{"error_summary": "incorrect_offset/", "error": {".tag": "incorrect_offset",
        "correct_offset": 9}}'
  recorded_at: Mon, 09 Jan 2017 19:40:05 GMT
recorded_with: VCR 3.0.1
