---
http_interactions:
- request:
    method: post
    uri: https://content.dropboxapi.com/2/files/upload_session/start
    body:
      encoding: UTF-8
      string: '123456789'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Dropbox-Api-Arg:
      - "{}"
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server-Response-Time:
      - '261'
      X-Dropbox-Request-Id:
      - 2ee35f69681cfa97ec1ee32d657c9cc6
    body:
      encoding: ASCII-8BIT
      string: '{"session_id": "AAAAAAAABFOKUJSkyCuajQ"}'
  recorded_at: Sat, 06 May 2017 07:41:38 GMT
- request:
    method: post
    uri: https://content.dropboxapi.com/2/files/upload_session/append_v2
    body:
      encoding: UTF-8
      string: Hello Dropbox!
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Dropbox-Api-Arg:
      - '{"cursor":{"session_id":"AAAAAAAABFOKUJSkyCuajQ","offset":42}}'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 409
      message: incorrect_offset/..
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Request-Id:
      - 72fc8123808cd532de3e2c88e6c0a65d
    body:
      encoding: UTF-8
      string: '{"error_summary": "incorrect_offset/..", "error": {".tag": "incorrect_offset",
        "correct_offset": 9}}'
  recorded_at: Sat, 06 May 2017 07:41:39 GMT
recorded_with: VCR 3.0.3
