---
http_interactions:
- request:
    method: post
    uri: https://content.dropboxapi.com/2/files/upload_session/start
    body:
      encoding: UTF-8
      string: '123456789'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Dropbox-Api-Arg:
      - "{}"
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server-Response-Time:
      - '270'
      X-Dropbox-Request-Id:
      - 35f0b9314f31e404fbbd9908e52fe763
    body:
      encoding: ASCII-8BIT
      string: '{"session_id": "AAAAAAAAF15DUkd3feKuMA"}'
  recorded_at: Tue, 20 Jun 2017 23:16:25 GMT
- request:
    method: post
    uri: https://content.dropboxapi.com/2/files/upload_session/append_v2
    body:
      encoding: UTF-8
      string: Olá Dropbox!
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Dropbox-Api-Arg:
      - '{"cursor":{"session_id":"AAAAAAAAF15DUkd3feKuMA","offset":9}}'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server-Response-Time:
      - '367'
      X-Dropbox-Request-Id:
      - f252c67365bbb23e1fc911680b6d391b
    body:
      encoding: ASCII-8BIT
      string: 'null'
  recorded_at: Tue, 20 Jun 2017 23:16:26 GMT
- request:
    method: post
    uri: https://content.dropboxapi.com/2/files/upload_session/finish
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Dropbox-Api-Arg:
      - '{"cursor":{"session_id":"AAAAAAAAF15DUkd3feKuMA","offset":22},"commit":{"path":"/target.txt","mode":{".tag":"add"}}}'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server-Response-Time:
      - '652'
      X-Dropbox-Request-Id:
      - 86a9fbfb2899b0be3ac68875480ff0d7
    body:
      encoding: ASCII-8BIT
      string: '{"name": "target.txt", "path_lower": "/target.txt", "path_display":
        "/target.txt", "id": "id:QKdce33OfLAAAAAAAAAAFw", "client_modified": "2017-06-20T23:16:27Z",
        "server_modified": "2017-06-20T23:16:27Z", "rev": "1f58ebb611", "size": 22,
        "content_hash": "2064faa877255c7097e19c8ce5daada411478d0bfb8ed57837eeaa53bd4a10b3"}'
  recorded_at: Tue, 20 Jun 2017 23:16:28 GMT
recorded_with: VCR 3.0.3
