---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/delete
    body:
      encoding: UTF-8
      string: '{"path":"/unexisting folder"}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Request-Id:
      - 423465aa6f65122af81969d507fa5960
    body:
      encoding: UTF-8
      string: '{"error_summary": "path_lookup/not_found/...", "error": {".tag": "path_lookup",
        "path_lookup": {".tag": "not_found"}}}'
  recorded_at: Sun, 01 May 2016 00:49:03 GMT
recorded_with: VCR 3.0.1
