---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/delete
    body:
      encoding: UTF-8
      string: '{"path":"/arizona_baby"}'
    headers:
      Authorization:
      - Bearer VofXAX8DO1sAAAAAAAACFsM04PkG3k9OQMYjyFkvI1cJhaUYFQ1ZxEegMZeFWkVD
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Server-Response-Time:
      - '309'
      X-Dropbox-Request-Id:
      - fb375a9b2c6cf49207778777d258500b
    body:
      encoding: UTF-8
      string: '{".tag": "folder", "name": "arizona_baby", "path_lower": "/arizona_baby",
        "path_display": "/arizona_baby", "id": "id:hu9tePmD7OAAAAAAAAAAAQ"}'
  recorded_at: Sun, 01 May 2016 00:47:02 GMT
recorded_with: VCR 3.0.1
