---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/delete
    body:
      encoding: UTF-8
      string: '{"path":"/b.jpg"}'
    headers:
      Authorization:
      - Bearer VofXAX8DO1sAAAAAAAACFsM04PkG3k9OQMYjyFkvI1cJhaUYFQ1ZxEegMZeFWkVD
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Server-Response-Time:
      - '280'
      X-Dropbox-Request-Id:
      - 9b8b2de904677f4e548183501babdada
    body:
      encoding: UTF-8
      string: '{".tag": "file", "name": "b.jpg", "path_lower": "/b.jpg", "path_display":
        "/b.jpg", "id": "id:evvfE6q6cK0AAAAAAAAB4A", "client_modified": "2016-04-09T15:47:32Z",
        "server_modified": "2016-04-10T09:22:19Z", "rev": "29724061bdd", "size": 396317}'
  recorded_at: Sun, 01 May 2016 00:47:09 GMT
recorded_with: VCR 3.0.1
