---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/get_temporary_link
    body:
      encoding: UTF-8
      string: '{"path":"/img.png"}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Server-Response-Time:
      - '161'
      X-Dropbox-Request-Id:
      - 523e7f5d479789bd169e1cba0af6a2d1
    body:
      encoding: UTF-8
      string: '{"metadata": {"name": "img.png", "path_lower": "/img.png", "path_display":
        "/img.png", "id": "id:jVVdzRI3CnAAAAAAAAAAAQ", "client_modified": "2016-05-22T09:29:22Z",
        "server_modified": "2016-05-22T09:29:42Z", "rev": "2c724061bdd", "size": 77019},
        "link": "https://dl.dropboxusercontent.com/apitl/1/AACbQ6Dl67Tj_9rdTCWNKj4hNrlqux75_LqMQQ_Gq6sDi1H9cM6F8CNP1rFkUTfA4e-8lGbRA7zGZm0_2Txn7J7QCuna0CrC2n0hodtW7sVjo26GDyJQkfGWMMDxu_UMedPHHmK9ZMW658Dh4yWjOACI4Gsy1YUtMPfBDh9lvTlQKdz3HsxS5NppqhyrPnjo9NC42QxxIwVFOYy5tFMBosaPrG1MhaY_7GYgpWlVGjrfew"}'
  recorded_at: Sat, 28 May 2016 08:49:02 GMT
recorded_with: VCR 3.0.1
