---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/restore
    body:
      encoding: UTF-8
      string: '{"path":"/file.txt","rev":"1a6a24061000"}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Request-Id:
      - be2fb8468cd3466f594b73fb2899ae6b
    body:
      encoding: UTF-8
      string: '{"error_summary": "invalid_revision/..", "error": {".tag": "invalid_revision"}}'
  recorded_at: Sat, 30 Jul 2016 10:09:45 GMT
recorded_with: VCR 3.0.1
