---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/restore
    body:
      encoding: UTF-8
      string: '{"path":"/file.txt","rev":"1a6a24061bdd"}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Server-Response-Time:
      - '249'
      X-Dropbox-Request-Id:
      - 90e6acc03174c7c295310cde512f7a9d
    body:
      encoding: UTF-8
      string: '{"name": "file.txt", "path_lower": "/file.txt", "path_display": "/file.txt",
        "id": "id:XsZovXcpKaAAAAAAAAAAAQ", "client_modified": "2016-07-10T19:19:03Z",
        "server_modified": "2016-07-30T10:08:59Z", "rev": "1a7124061bdd", "size":
        14}'
  recorded_at: Sat, 30 Jul 2016 10:08:59 GMT
recorded_with: VCR 3.0.1
