---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/copy
    body:
      encoding: UTF-8
      string: '{"from_path":"/../invalid_path.jpg","to_path":"/b.jpg"}'
    headers:
      Authorization:
      - Bearer VofXAX8DO1sAAAAAAAACFsM04PkG3k9OQMYjyFkvI1cJhaUYFQ1ZxEegMZeFWkVD
      Content-Type:
      - application/json
  response:
    status:
      code: 409
      message: from_lookup/malformed_path/.
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Request-Id:
      - 8f24c4f7c6d9c4d711d0319f7b582cd9
    body:
      encoding: UTF-8
      string: '{"error_summary": "from_lookup/malformed_path/.", "error": {".tag":
        "from_lookup", "from_lookup": {".tag": "malformed_path"}}}'
  recorded_at: Sun, 10 Apr 2016 10:01:21 GMT
recorded_with: VCR 3.0.1
