---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/copy
    body:
      encoding: UTF-8
      string: '{"from_path":"/z.jpg","to_path":"/b.jpg"}'
    headers:
      Authorization:
      - Bearer VofXAX8DO1sAAAAAAAACFsM04PkG3k9OQMYjyFkvI1cJhaUYFQ1ZxEegMZeFWkVD
      Content-Type:
      - application/json
  response:
    status:
      code: 409
      message: from_lookup/not_found/..
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Request-Id:
      - d8cfde349b72ca3373980286b6936f30
    body:
      encoding: UTF-8
      string: '{"error_summary": "from_lookup/not_found/..", "error": {".tag": "from_lookup",
        "from_lookup": {".tag": "not_found"}}}'
  recorded_at: Sun, 10 Apr 2016 09:22:26 GMT
recorded_with: VCR 3.0.1
