---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/copy
    body:
      encoding: UTF-8
      string: '{"from_path":"/a.jpg","to_path":"/b.jpg"}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Server-Response-Time:
      - '401'
      X-Dropbox-Request-Id:
      - bc06cff1d5077a3ce301239d49e9d1aa
    body:
      encoding: ASCII-8BIT
      string: '{".tag": "file", "name": "b.jpg", "path_lower": "/b.jpg", "path_display":
        "/b.jpg", "id": "id:evvfE6q6cK0AAAAAAAAB4A", "client_modified": "2016-04-09T15:47:32Z",
        "server_modified": "2016-04-10T09:22:19Z", "rev": "29724061bdd", "size": 396317}'
  recorded_at: Sun, 10 Apr 2016 09:22:20 GMT
recorded_with: VCR 3.0.1
