---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/sharing/list_shared_links
    body:
      encoding: UTF-8
      string: '{"path":"/some_folder/another_folder"}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Server-Response-Time:
      - '195'
      X-Dropbox-Request-Id:
      - dfff6f57f3223f480311269f68759d14
    body:
      encoding: UTF-8
      string: '{"links": [{".tag": "folder", "url": "https://www.dropbox.com/sh/h3slcnfcs3w7sdk/AADlUYcssd70EWHX3n9CJCWwa?dl=0",
        "id": "id:wVA6LxVGExAAAAAAAAAAAQ", "name": "another_folder", "path_lower":
        "/some_folder/another_folder", "link_permissions": {"resolved_visibility":
        {".tag": "public"}, "requested_visibility": {".tag": "public"}, "can_revoke":
        true}}, {".tag": "folder", "url": "https://www.dropbox.com/sh/5b0bmldpa1qi772/AAAwKkKiTdb1A78bzHCKQLeHa?dl=0",
        "id": "id:PaoFyFBdjBAAAAAAAAAAAQ", "name": "some_folder", "path_lower": "/some_folder",
        "link_permissions": {"resolved_visibility": {".tag": "public"}, "requested_visibility":
        {".tag": "public"}, "can_revoke": true}}], "has_more": false}'
  recorded_at: Wed, 22 Jun 2016 12:48:06 GMT
recorded_with: VCR 3.0.1
