---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/sharing/list_shared_links
    body:
      encoding: UTF-8
      string: '{"path":"/some_folder/file.txt"}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Server-Response-Time:
      - '189'
      X-Dropbox-Request-Id:
      - 2cb305e5641c6a7233898cc28cf2b98f
    body:
      encoding: UTF-8
      string: '{"links": [{".tag": "folder", "url": "https://www.dropbox.com/sh/5b0bmldpa1qi772/AAAwKkKiTdb1A78bzHCKQLeHa?dl=0",
        "id": "id:PaoFyFBdjBAAAAAAAAAAAQ", "name": "some_folder", "path_lower": "/some_folder",
        "link_permissions": {"resolved_visibility": {".tag": "public"}, "requested_visibility":
        {".tag": "public"}, "can_revoke": true}}, {".tag": "file", "url": "https://www.dropbox.com/s/sp5cuhaxfn8126z/file.txt?dl=0",
        "id": "id:vOzy_G8xdXAAAAAAAAAAAQ", "name": "file.txt", "path_lower": "/some_folder/file.txt",
        "link_permissions": {"resolved_visibility": {".tag": "public"}, "requested_visibility":
        {".tag": "public"}, "can_revoke": true}, "client_modified": "2016-05-08T15:21:39Z",
        "server_modified": "2016-06-22T12:18:56Z", "rev": "1a6424061bdd", "size":
        15}], "has_more": false}'
  recorded_at: Wed, 22 Jun 2016 12:38:44 GMT
recorded_with: VCR 3.0.1
