---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/sharing/list_shared_links
    body:
      encoding: UTF-8
      string: '{"path":"/some_folder/file.txt","direct_only":true}'
    headers:
      Authorization:
      - Bearer VofXAX8DO1sAAAAAAAACFsM04PkG3k9OQMYjyFkvI1cJhaUYFQ1ZxEegMZeFWkVD
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Server-Response-Time:
      - '186'
      X-Dropbox-Request-Id:
      - 7067ba2d74a43689c5f7c6873de7008d
    body:
      encoding: UTF-8
      string: '{"links": [{".tag": "file", "url": "https://www.dropbox.com/s/sp5cuhaxfn8126z/file.txt?dl=0",
        "id": "id:vOzy_G8xdXAAAAAAAAAAAQ", "name": "file.txt", "path_lower": "/some_folder/file.txt",
        "link_permissions": {"resolved_visibility": {".tag": "public"}, "requested_visibility":
        {".tag": "public"}, "can_revoke": true}, "client_modified": "2016-05-08T15:21:39Z",
        "server_modified": "2016-06-22T12:18:56Z", "rev": "1a6424061bdd", "size":
        15}], "has_more": false}'
  recorded_at: Wed, 22 Jun 2016 12:44:16 GMT
recorded_with: VCR 3.0.1
