---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/sharing/add_folder_member
    body:
      encoding: UTF-8
      string: '{"quiet":false,"custom_message":null,"shared_folder_id":"xxx","members":[{"member":{".tag":"email","email":"somebody@test.com"},"access_level":{".tag":"editor"}}]}'
    headers:
      Authorization:
      - Bearer VofXAX8DO1sAAAAAAAACFsM04PkG3k9OQMYjyFkvI1cJhaUYFQ1ZxEegMZeFWkVD
      Content-Type:
      - application/json
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Request-Id:
      - 6d5c30d08bc8b6b68ec172e06567ab01
    body:
      encoding: UTF-8
      string: '{"error_summary": "access_error/invalid_id/", "error": {".tag": "access_error",
        "access_error": {".tag": "invalid_id"}}, "user_message": {"locale": "en",
        "text": "Invalid shared folder ID."}}'
  recorded_at: Sat, 11 Jun 2016 09:57:47 GMT
recorded_with: VCR 3.0.1
