---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/sharing/add_folder_member
    body:
      encoding: UTF-8
      string: '{"quiet":false,"custom_message":null,"shared_folder_id":"xxx","members":[{"member":{".tag":"email","email":"somebody@test.com"},"access_level":"editor"}]}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Request-Id:
      - 6309120595ea4107a2af51b91d09cf2e
    body:
      encoding: UTF-8
      string: '{"error_summary": "access_error/invalid_id/..", "error": {".tag": "access_error",
        "access_error": {".tag": "invalid_id"}}, "user_message": {"locale": "en",
        "text": "Invalid shared folder ID."}}'
  recorded_at: Tue, 13 Dec 2016 16:35:02 GMT
recorded_with: VCR 3.0.1
