---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/sharing/add_folder_member
    body:
      encoding: UTF-8
      string: '{"quiet":false,"custom_message":null,"shared_folder_id":"1236358158","members":[{"member":{".tag":"email","email":"somebody@test.com"},"access_level":"editor"}]}'
    headers:
      Authorization:
      - Bearer VofXAX8DO1sAAAAAAAADiXbd__inZjFI0OTsK9ao8AAKmshXqdbnjOnXz7XylBbf
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Dropbox-Request-Id:
      - 4d36ba80eced5106566d52f65c2dc526
      X-Server-Response-Time:
      - '894'
    body:
      encoding: UTF-8
      string: 'null'
  recorded_at: Tue, 06 Dec 2016 11:42:08 GMT
recorded_with: VCR 3.0.1
