---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/sharing/add_folder_member
    body:
      encoding: UTF-8
      string: '{"quiet":false,"custom_message":null,"shared_folder_id":"1236358158","members":[{"member":{".tag":"email","email":"somebody@test.com"},"access_level":"editor"}]}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Dropbox-Request-Id:
      - a1eb6c8b3198179deb1324d39d536325
      X-Server-Response-Time:
      - '932'
    body:
      encoding: UTF-8
      string: 'null'
  recorded_at: Tue, 13 Dec 2016 16:34:13 GMT
recorded_with: VCR 3.0.1
