---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/sharing/add_folder_member
    body:
      encoding: UTF-8
      string: '{"quiet":false,"custom_message":null,"shared_folder_id":"1236358158","members":[{"member":{".tag":"email","email":"somebody@test.com"},"access_level":{".tag":"editor"}}]}'
    headers:
      Authorization:
      - Bearer VofXAX8DO1sAAAAAAAACFsM04PkG3k9OQMYjyFkvI1cJhaUYFQ1ZxEegMZeFWkVD
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Server-Response-Time:
      - '511'
      X-Dropbox-Request-Id:
      - 2558230857ec92971cf67421717d155d
    body:
      encoding: UTF-8
      string: 'null'
  recorded_at: Sat, 11 Jun 2016 09:30:59 GMT
recorded_with: VCR 3.0.1
