---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/create_folder
    body:
      encoding: UTF-8
      string: '{"path":"/b.jpg"}'
    headers:
      Authorization:
      - Bearer VofXAX8DO1sAAAAAAAACFsM04PkG3k9OQMYjyFkvI1cJhaUYFQ1ZxEegMZeFWkVD
      Content-Type:
      - application/json
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Request-Id:
      - ffd96f24a7bda5e440097984aae65db4
    body:
      encoding: UTF-8
      string: '{"error_summary": "path/conflict/file/...", "error": {".tag": "path",
        "path": {".tag": "conflict", "conflict": {".tag": "file"}}}}'
  recorded_at: Sun, 01 May 2016 00:38:02 GMT
recorded_with: VCR 3.0.1
