---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/create_folder
    body:
      encoding: UTF-8
      string: '{"path":"/arizona_baby"}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Server-Response-Time:
      - '229'
      X-Dropbox-Request-Id:
      - fcafd39479c47193d291d7b5ed5e329c
    body:
      encoding: UTF-8
      string: '{"name": "arizona_baby", "path_lower": "/arizona_baby", "path_display":
        "/arizona_baby", "id": "id:hu9tePmD7OAAAAAAAAAAAQ"}'
  recorded_at: Sun, 01 May 2016 00:37:47 GMT
recorded_with: VCR 3.0.1
