---
http_interactions:
- request:
    method: post
    uri: https://content.dropboxapi.com/2/files/get_thumbnail
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Dropbox-Api-Arg:
      - '{"format":"jpeg","size":"w64h64","path":"/unknown_file.jpg"}'
      Content-Type:
      - ''
  response:
    status:
      code: 409
      message: path/not_found/.
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Request-Id:
      - 2884568f4ce2acd2570e7b17484fb52e
    body:
      encoding: UTF-8
      string: '{"error_summary": "path/not_found/.", "error": {".tag": "path", "path":
        {".tag": "not_found"}}}'
  recorded_at: Sat, 28 May 2016 09:32:52 GMT
recorded_with: VCR 3.0.1
