---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/list_folder
    body:
      encoding: UTF-8
      string: '{"path":""}'
    headers:
      Authorization:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Server-Response-Time:
      - '118'
      X-Dropbox-Request-Id:
      - 03f3918ab305d8b8dcce33397d097931
    body:
      encoding: ASCII-8BIT
      string: '{"entries": [{".tag": "folder", "name": "3D ordering platform (development)",
        "path_lower": "/3d ordering platform (development)", "path_display": "/3D
        ordering platform (development)", "id": "id:evvfE6q6cK0AAAAAAAAASA"}, {".tag":
        "folder", "name": "File requests", "path_lower": "/file requests", "path_display":
        "/File requests", "id": "id:evvfE6q6cK0AAAAAAAAB2A"}, {".tag": "folder", "name":
        "#0336 New Office", "path_lower": "/#0336 new office", "path_display": "/#0336
        New Office", "id": "id:evvfE6q6cK0AAAAAAAAB2g", "shared_folder_id": "1087883416",
        "sharing_info": {"read_only": false, "shared_folder_id": "1087883416"}}],
        "cursor": "AAFBwDxjzL41EVNSX7oyoSpn9JUTAgQCXG-eTtEStuItSDGvVctnKcRrgXXnxS00OUNYN_dXNkYadLkEOt2Bzt6ZrB9IMKrI7z8-95QQGTXI6xeBNAnDljqKvPyqjMeqPx_hyiQpjKk5Im_rj5sKuT7t",
        "has_more": false}'
  recorded_at: Thu, 24 Mar 2016 10:07:24 GMT
recorded_with: VCR 3.0.1
