---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/list_folder
    body:
      encoding: UTF-8
      string: '{"recursive":false,"include_media_info":false,"include_deleted":false,"path":"/folder"}'
    headers:
      Authorization:
      - Bearer VofXAX8DO1sAAAAAAAACFsM04PkG3k9OQMYjyFkvI1cJhaUYFQ1ZxEegMZeFWkVD
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Server-Response-Time:
      - '113'
      X-Dropbox-Request-Id:
      - 5ccecef0ab25dd22ddbad4d8e557c349
    body:
      encoding: UTF-8
      string: '{"entries": [], "cursor": "AAG76XNW9n34BCmn3McIxk8Z9aZz5d5F6c7wdp11LEthHz2ZI1roy4w4yggvjBUt1OpD0z8fthqUH-8g8auyzqHYWbFHDI6COI7wGRPKnLVEPdzCg_LeJOOZWqFSb8OlwpVHqCfIyvfLzCtQyEt5cLpLCEqCU26dI_NmLD-nWril1_uuGy2x8T6ePJ2Ol0ENAjc",
        "has_more": false}'
  recorded_at: Sat, 30 Jul 2016 08:17:06 GMT
recorded_with: VCR 3.0.1
