---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/list_folder
    body:
      encoding: UTF-8
      string: '{"recursive":false,"include_media_info":false,"include_deleted":false,"path":"/folder"}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Dropbox-Request-Id:
      - 5265341f41b9ff412e8dc8b68cad7d88
      X-Server-Response-Time:
      - '675'
    body:
      encoding: UTF-8
      string: '{"entries": [], "cursor": "AAEi2JFkeYQZBfxpv-VAKDVNXu7Z9rTxmbmWpN6l9_vHGG6L4PW0GkJadj-e9V3ZTbuZpDcPAVx5RX2yNtfN_zgUYY5qqLt3HX8txVf3ExSmgCxMghBrxLObubkHp631jvRK_9-_arxLXFm-yaFTVQUUQmc1gZ7fMwvz68mIFUetj2umU2bCZFwU-oByU-guJaY",
        "has_more": false}'
  recorded_at: Sun, 11 Dec 2016 11:48:16 GMT
recorded_with: VCR 3.0.1
