---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/list_folder/get_latest_cursor
    body:
      encoding: UTF-8
      string: '{"path":"/folder","recursive":false,"include_media_info":false,"include_deleted":false}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Dropbox-Request-Id:
      - 8440b9c18ee63bd8d60060acafc5a14d
      X-Server-Response-Time:
      - '344'
    body:
      encoding: UTF-8
      string: '{"cursor": "AAEFGMUxkhcPBBR2yCoOrknMbaDSbDIp3WeKVvAMJY-LjQft9FK5kUzpujm2k3yeWiZq-XtuAu-1OCz4YIxmw5e3x1sbBgCRbEhKBzoXWgVQXV-Q_QUJsfbN_9E2euvsg3Xemfz04RTTJNKCOXup3sIClMF2eru_EhuR9baFboiOeNgWYW1dhQ0gGi1MWRqFXQ0"}'
  recorded_at: Sun, 11 Dec 2016 11:48:17 GMT
recorded_with: VCR 3.0.1
