---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/list_folder
    body:
      encoding: UTF-8
      string: '{"recursive":false,"include_media_info":false,"include_deleted":false,"path":""}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Dropbox-Request-Id:
      - 34a3c76421df38c7f87ddde709cc9950
      X-Server-Response-Time:
      - '192'
    body:
      encoding: ASCII-8BIT
      string: '{"entries": [{".tag": "folder", "name": "3D ordering platform (development)",
        "path_lower": "/3d ordering platform (development)", "path_display": "/3D
        ordering platform (development)", "id": "id:evvfE6q6cK0AAAAAAAAASA"}, {".tag":
        "folder", "name": "File requests", "path_lower": "/file requests", "path_display":
        "/File requests", "id": "id:evvfE6q6cK0AAAAAAAAB2A"}, {".tag": "folder", "name":
        "#0336 New Office", "path_lower": "/#0336 new office", "path_display": "/#0336
        New Office", "id": "id:evvfE6q6cK0AAAAAAAAB2g", "shared_folder_id": "1087883416",
        "sharing_info": {"read_only": false, "shared_folder_id": "1087883416"}}, {".tag":
        "folder", "name": "test", "path_lower": "/test", "path_display": "/test",
        "id": "id:VX06BhYxrHAAAAAAAAAAAQ"}, {".tag": "folder", "name": "folder_a",
        "path_lower": "/folder_a", "path_display": "/folder_a", "id": "id:HiVAYHwecGAAAAAAAAAAAQ",
        "shared_folder_id": "1231273663", "sharing_info": {"read_only": false, "shared_folder_id":
        "1231273663"}}, {".tag": "folder", "name": "folder_b", "path_lower": "/folde[...]
