---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/users/get_account_batch
    body:
      encoding: UTF-8
      string: '{"account_ids":["dbid:AAAKVPLEKkkccsZMFkkZNXFeyXrPPhrtXXX","dbid:AAAKVPLEKkkccsZMFkkZNXFeyXrPPhrtFxs"]}'
    headers:
      Authorization:
      - Bearer VofXAX8DO1sAAAAAAAADcDz8wrpT0FKdMgkOwvtCswOdbeAdm52ytwpXuhuzqOIc
      Content-Type:
      - application/json
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Request-Id:
      - a1c8a9ba306d0e443fd6e644fb7b3a06
    body:
      encoding: UTF-8
      string: '{"error_summary": "no_account/...", "error": {".tag": "no_account",
        "no_account": "dbid:AAAKVPLEKkkccsZMFkkZNXFeyXrPPhrtXXX"}}'
  recorded_at: Sat, 19 Nov 2016 09:11:32 GMT
recorded_with: VCR 3.0.1
