---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/users/get_account_batch
    body:
      encoding: UTF-8
      string: '{"account_ids":["dbid:AACiYqkuK0t_wIvlr9BduHKdhzk_H28Dg0U","dbid:AAAKVPLEKkkccsZMFkkZNXFeyXrPPhrtFxs"]}'
    headers:
      Authorization:
      - Bearer VofXAX8DO1sAAAAAAAADcDz8wrpT0FKdMgkOwvtCswOdbeAdm52ytwpXuhuzqOIc
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Dropbox-Request-Id:
      - 5f674657775e4b3a99ad5de692a96621
      X-Server-Response-Time:
      - '2582'
    body:
      encoding: UTF-8
      string: '[{"account_id": "dbid:AACiYqkuK0t_wIvlr9BduHKdhzk_H28Dg0U", "name":
        {"given_name": "Antonio", "surname": "Hidalgo", "familiar_name": "Antonio",
        "display_name": "Antonio Hidalgo", "abbreviated_name": "MH"}, "email": "antonio.hidalgo@gmail.com",
        "email_verified": true, "disabled": false, "is_teammate": false}, {"account_id":
        "dbid:AAAKVPLEKkkccsZMFkkZNXFeyXrPPhrtFxs", "name": {"given_name": "Jesus",
        "surname": "Burgos", "familiar_name": "Jesus", "display_name": "Jesus Burgos",
        "abbreviated_name": "JB"}, "email": "a3241659@drdrb.net", "email_verified":
        true, "disabled": false, "is_teammate": true}]'
  recorded_at: Sat, 19 Nov 2016 08:59:09 GMT
recorded_with: VCR 3.0.1
