---
http_interactions:
- request:
    method: post
    uri: https://content.dropboxapi.com/2/files/get_preview
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer VofXAX8DO1sAAAAAAAACFsM04PkG3k9OQMYjyFkvI1cJhaUYFQ1ZxEegMZeFWkVD
      Dropbox-Api-Arg:
      - '{"path":"/file.docx"}'
      Content-Type:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/octet-stream
      Original-Content-Length:
      - '94036'
      Dropbox-Api-Result:
      - '{"name": "file.docx", "path_lower": "/file.docx", "path_display": "/file.docx",
        "id": "id:oeWs1qkP7PAAAAAAAAAAAQ", "client_modified": "2016-05-22T09:37:23Z",
        "server_modified": "2016-05-22T09:37:23Z", "rev": "2c924061bdd", "size": 227514}'
      X-Server-Response-Time:
      - '588'
      X-Dropbox-Request-Id:
      - 34a31de1c27272df7d865ba2140964b1
    body:
      encoding: ASCII-8BIT
      string: deleted, too long
  recorded_at: Sun, 22 May 2016 09:38:24 GMT
recorded_with: VCR 3.0.1
