---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/list_folder
    body:
      encoding: UTF-8
      string: '{"recursive":false,"include_media_info":false,"include_deleted":false,"path":"/folder"}'
    headers:
      Authorization:
      - Bearer VofXAX8DO1sAAAAAAAACFsM04PkG3k9OQMYjyFkvI1cJhaUYFQ1ZxEegMZeFWkVD
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Server-Response-Time:
      - '3456'
      X-Dropbox-Request-Id:
      - 5d9fd7b58878ade2c5cbe2487e7a2e74
    body:
      encoding: ASCII-8BIT
      string: '{
        "entries": [],
        "cursor": "AAF1PADRc2tz8NZBgeiBDU74WXviOqayVRsxo309g9Ypay0KcijR-WNVJ93fBtXoclKqpR12u4_c4-1_7n-PvKK8qVJRZ0hW0kMjysMJQIsZebE0OvHXhd-FIKSWX_IsxDIXkBnbxQ_ifvW3IEsjd5ol",
        "has_more": true}'
  recorded_at: Sat, 28 May 2016 23:10:20 GMT
recorded_with: VCR 3.0.1
