---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/list_folder
    body:
      encoding: UTF-8
      string: '{"recursive":false,"include_media_info":false,"include_deleted":false,"path":"/folder"}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Dropbox-Request-Id:
      - 25c43f677776600bab1ba17377dd1bec
      X-Server-Response-Time:
      - '194'
    body:
      encoding: UTF-8
      string: '{"entries": [], "cursor": "AAEejeebnS9QodQgf79htIgffkUPUp58Nerj93H8epIiLSPxnd0KeW-iAydMGpRsOBHFZ6asJHX0K-ljI4hQckW-BCNgKq58T6uDxZS9x7oOZ1yXdTy_yTEPa3Z6ufPIKLQbCdlqmPrgH-fEPwt44Rc-HMJXeG0JqlLmEuQyxvK2EQQS5P5MlnrUEnprrwg-oiQ",
        "has_more": true}'
  recorded_at: Sun, 11 Dec 2016 11:48:14 GMT
recorded_with: VCR 3.0.1
