---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/save_url/check_job_status
    body:
      encoding: UTF-8
      string: '{"async_job_id":"VofXAX8DO1sAAAAAAAAD_Q"}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Dropbox-Request-Id:
      - 8620bdc3d800543025432d6dc6b00a21
      X-Server-Response-Time:
      - '195'
    body:
      encoding: UTF-8
      string: '{".tag": "complete", "name": "photo.jpg", "path_lower": "/photo.jpg",
        "path_display": "/photo.jpg", "id": "id:evvfE6q6cK0AAAAAAAAFGQ", "client_modified":
        "2013-01-11T08:36:58Z", "server_modified": "2016-12-13T17:03:13Z", "rev":
        "1f4e24061bdd", "size": 197352, "media_info": {".tag": "metadata", "metadata":
        {".tag": "photo", "dimensions": {"height": 700, "width": 1050}, "time_taken":
        "2013-01-10T22:10:13Z"}}}'
  recorded_at: Tue, 13 Dec 2016 18:00:14 GMT
recorded_with: VCR 3.0.1
