---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/save_url
    body:
      encoding: UTF-8
      string: '{"path":"/missing_file.zip","url":"http://ipv4.download.thinkbroadband.com/not_found.zip"}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Dropbox-Request-Id:
      - 70b0d2c141dfe57ca36d7c1797f2a1c2
      X-Server-Response-Time:
      - '483'
    body:
      encoding: UTF-8
      string: '{".tag": "async_job_id", "async_job_id": "VofXAX8DO1sAAAAAAAAEDg"}'
  recorded_at: Tue, 13 Dec 2016 18:27:49 GMT
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/save_url/check_job_status
    body:
      encoding: UTF-8
      string: '{"async_job_id":"VofXAX8DO1sAAAAAAAAEDg"}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Dropbox-Request-Id:
      - a41416f79cc99a9e4224afa72d285575
      X-Server-Response-Time:
      - '96'
    body:
      encoding: UTF-8
      string: '{".tag": "failed", "failed": {".tag": "download_failed"}}'
  recorded_at: Tue, 13 Dec 2016 18:28:21 GMT
recorded_with: VCR 3.0.1
