---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/list_folder
    body:
      encoding: UTF-8
      string: '{"recursive":false,"include_media_info":false,"include_deleted":false,"path":"/unexisting_folder"}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Request-Id:
      - c2be9dafda3bd515cc06f3634b22a4dd
    body:
      encoding: UTF-8
      string: '{"error_summary": "path/not_found/...", "error": {".tag": "path", "path":
        {".tag": "not_found"}}}'
  recorded_at: Tue, 02 Aug 2016 17:12:03 GMT
recorded_with: VCR 3.0.1
