---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/list_folder
    body:
      encoding: UTF-8
      string: '{"recursive":false,"include_media_info":false,"include_deleted":false,"path":"/unexisting_folder"}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Request-Id:
      - 7a6691e6269a7c0a6727ccce0288983a
    body:
      encoding: UTF-8
      string: '{"error_summary": "path/not_found/.", "error": {".tag": "path", "path":
        {".tag": "not_found"}}}'
  recorded_at: Sun, 09 Jul 2017 09:29:37 GMT
recorded_with: VCR 3.0.3
