---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/list_folder
    body:
      encoding: UTF-8
      string: '{"recursive":false,"include_media_info":false,"include_deleted":false,"path":""}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Dropbox-Request-Id:
      - c0165dbb3d6e5b6ec40ef502912e1b2e
      X-Server-Response-Time:
      - '209'
    body:
      encoding: ASCII-8BIT
      string: '{"entries": [{".tag": "folder", "name": "not_found", "path_lower":
        "/not_found", "path_display": "/not_found", "id": "id:evvfE6q6cK0AAAAAAAAFHA"},
        {".tag": "folder", "name": "Homework", "path_lower": "/homework", "path_display":
        "/Homework", "id": "id:evvfE6q6cK0AAAAAAAAFKA"}, {".tag": "folder", "name":
        "dropbox_api_fixtures", "path_lower": "/dropbox_api_fixtures", "path_display":
        "/dropbox_api_fixtures", "id": "id:evvfE6q6cK0AAAAAAAAFLA"}, {".tag": "folder",
        "name": "Orders (dev)", "path_lower": "/orders (dev)", "path_display": "/Orders
        (dev)", "id": "id:evvfE6q6cK0AAAAAAAAFSw"}, {".tag": "file", "name": "bsd.pdf",
        "path_lower": "/bsd.pdf", "path_display": "/bsd.pdf", "id": "id:XjvW7ncTHSAAAAAAAAAAAQ",
        "client_modified": "2016-05-22T09:28:05Z", "server_modified": "2016-05-22T09:28:06Z",
        "rev": "2c424061bdd", "size": 701667, "content_hash": "cffcc53c7e7a806869304082a0bb3a22bfff7b78cb421a66fd8273f0d279c8ee"},
        {".tag": "file", "name": "image.png", "path_lower": "/image.png", "path_display":
        "/image.png", "id": "id:jVVdzRI3CnAAAAAAAAAAAQ", "client_modified": "2016-05-22T09:29:22Z",
        "server_modified": "2016-06-04T08:36:02Z", "rev": "1a4524061bdd", "size":
        77019, "content_hash": "05b4fc1beab6e62964865964acc57a5ec3dd8b9832aa155d41b808083a357208"},
        {".tag": "file", "name": "photo.jpg", "path_lower"[...]
