---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/list_folder
    body:
      encoding: UTF-8
      string: '{"recursive":false,"include_media_info":false,"include_deleted":false,"path":""}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Server-Response-Time:
      - '162'
      X-Dropbox-Request-Id:
      - 427ed15b54da2557e7b2614cef8f64c5
    body:
      encoding: ASCII-8BIT
      string: '{"entries": [{".tag": "folder", "name": "3D ordering platform (development)",
        "path_lower": "/3d ordering platform (development)", "path_display": "/3D
        ordering platform (development)", "id": "id:evvfE6q6cK0AAAAAAAAASA"}, {".tag":
        "folder", "name": "File requests", "path_lower": "/file requests", "path_display":
        "/File requests", "id": "id:evvfE6q6cK0AAAAAAAAB2A"}, {".tag": "folder", "name":
        "#0336 New Office", "path_lower": "/#0336 new office", "path_display": "/#0336
        New Office", "id": "id:evvfE6q6cK0AAAAAAAAB2g", "shared_folder_id": "1087883416",
        "sharing_info": {"read_only": false, "shared_folder_id": "1087883416"}}, {".tag":
        "folder", "name": "test", "path_lower": "/test", "path_display": "/test",
        "id": "id:VX06BhYxrHAAAAAAAAAAAQ"}, {".tag": "folder", "name": "folder", "path_lower":
        "/folder", "path_display": "/folder", "id": "id:tOV8JakFasAAAAAAAAAAAQ"},
        {".tag": "file", "name": "bsd.pdf", "path_lower": "/bsd.pdf", "path_display":
        "/bsd.pdf", "id": "id:XjvW7ncTHSAAAAAAAAAAAQ", "client_modified": "2016-05-22T09:28:05Z",
        "server_modified": "2016-05-22T09:28:06Z", "rev": "2c424061bdd", "size": 701667},
        {".tag": "file", "name": "img.png", "path_lower": "/img.png", "path_display":
        "/img.png", "id": "id:jVVdzRI3CnAAAAAAAAAAAQ", "client_modified": "2016-05-22T09:29:22Z",
        "server_modified": "2016-05-22T09:29:42Z", "rev": "2c724061bdd", "size": 77019},
        {".tag": "file", "name": "visrez-video.mp4", "path_lower": "/visrez-video.mp4",
        "path_display": "/visrez-video.mp4", "id": "id:ARSNw7QJjrAAAAAAAAAAAQ", "client_modified":
        "2016-05-22T09:31:26Z", "server_modified": "2016-05-22T09:31:26Z", "rev":
        "2c824061bdd", "size": 1136802}, {".tag": "file", "name": "file.docx", "path_lower":
        "/file.docx", "path_display": "/file.docx", "id": "id:oeWs1qkP7PAAAAAAAAAAAQ",
        "client_modified": "2016-05-22T09:37:23Z", "server_modified": "2016-05-22T09:37:23Z",
        "rev": "2c924061bdd", "size": 227514}, {".tag": "file", "name": "a.jpg", "path_lower":
        "/a.jpg", "path_display": "/a.jpg", "id": "id:evvfE6q6cK0AAAAAAAAB2w", "client_modified":
        "2016-04-09T15:47:32Z", "server_modified": "2016-04-09T15:47:38Z", "rev":
        "28924061bdd", "size": 396317}, {".tag": "file", "name": "file.txt", "path_lower":
        "/file.txt", "path_display": "/file.txt", "id": "id:vOzy_G8xdXAAAAAAAAAAAQ",
        "client_modified": "2016-05-08T15:21:39Z", "server_modified": "2016-05-22T09:15:29Z",
        "rev": "2c324061bdd", "size": 15}], "cursor": "AAGGC2O08Mic3lx0tgdND0zisTzugJoTr3n8CzbaizKK9Nx3eTM30GvKEUAnlSCcPrO9b_-koQtds-WkheJyKZ6z1r_VUc5A4LwUIg3Aa8UR5IcUTImLEGoLossFQ8EIrUfELR_shUNY3j8CPtOMQKmT",
        "has_more": false}'
  recorded_at: Sat, 28 May 2016 09:59:58 GMT
recorded_with: VCR 3.0.1
