---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/search
    body:
      encoding: UTF-8
      string: '{"start":0,"max_results":100,"mode":"filename","query":"/image.png","path":"/bad_folder"}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Request-Id:
      - 8b9426d8c961e5d6d22c78da4d22080e
    body:
      encoding: UTF-8
      string: '{"error_summary": "path/not_found/..", "error": {".tag": "path", "path":
        {".tag": "not_found"}}}'
  recorded_at: Sat, 04 Jun 2016 08:36:27 GMT
recorded_with: VCR 3.0.1
