---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/search
    body:
      encoding: UTF-8
      string: '{"start":0,"max_results":100,"mode":"filename","query":"image.png","path":""}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Server-Response-Time:
      - '156'
      X-Dropbox-Request-Id:
      - 0962978b76ee3f37ca90f918f3ad49b6
    body:
      encoding: UTF-8
      string: '{"matches": [{"match_type": {".tag": "filename"}, "metadata": {".tag":
        "file", "name": "image.png", "path_lower": "/image.png", "path_display": "/image.png",
        "id": "id:jVVdzRI3CnAAAAAAAAAAAQ", "client_modified": "2016-05-22T09:29:22Z",
        "server_modified": "2016-06-04T08:36:02Z", "rev": "1a4524061bdd", "size":
        77019}}], "more": false, "start": 1}'
  recorded_at: Sat, 04 Jun 2016 08:36:26 GMT
recorded_with: VCR 3.0.1
