---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/sharing/create_shared_link_with_settings
    body:
      encoding: UTF-8
      string: '{"path":"/folder_for_sharing"}'
    headers:
      Authorization:
      - Bearer VofXAX8DO1sAAAAAAAACFsM04PkG3k9OQMYjyFkvI1cJhaUYFQ1ZxEegMZeFWkVD
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Server-Response-Time:
      - '817'
      X-Dropbox-Request-Id:
      - e2f111a5744ee1586e1995d9cdb10a02
    body:
      encoding: UTF-8
      string: '{".tag": "folder", "url": "https://www.dropbox.com/sh/282edcmnteqrsch/AABh4i9sBKroSX9vCno_yLTLa?dl=0",
        "id": "id:mLkl0_I63QAAAAAAAAAAAQ", "name": "folder_for_sharing", "path_lower":
        "/folder_for_sharing", "link_permissions": {"resolved_visibility": {".tag":
        "public"}, "requested_visibility": {".tag": "public"}, "can_revoke": true}}'
  recorded_at: Wed, 22 Jun 2016 13:26:40 GMT
recorded_with: VCR 3.0.1
