---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/sharing/create_shared_link_with_settings
    body:
      encoding: UTF-8
      string: '{"path":"/file_for_sharing.docx"}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Server-Response-Time:
      - '824'
      X-Dropbox-Request-Id:
      - 078eac8fd62db28eac408bec88cd4766
    body:
      encoding: UTF-8
      string: '{".tag": "file", "url": "https://www.dropbox.com/s/cl67yim9h3jmyba/file_for_sharing.docx?dl=0",
        "id": "id:oeWs1qkP7PAAAAAAAAAAAQ", "name": "file_for_sharing.docx", "path_lower":
        "/file_for_sharing.docx", "link_permissions": {"resolved_visibility": {".tag":
        "public"}, "requested_visibility": {".tag": "public"}, "can_revoke": true},
        "client_modified": "2016-05-22T09:37:23Z", "server_modified": "2016-06-22T13:22:02Z",
        "rev": "1a6924061bdd", "size": 227514}'
  recorded_at: Wed, 22 Jun 2016 13:26:37 GMT
recorded_with: VCR 3.0.1
