---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/users/get_current_account
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Dropbox-Request-Id:
      - 0ae5a6ad7da896aac63d297fc95f3e7f
      X-Server-Response-Time:
      - '79'
    body:
      encoding: UTF-8
      string: '{"account_id": "dbid:AAAKVPLEKkkccsZMFkkZNXFeyXrPPhrtFxs", "name":
        {"given_name": "Jesus", "surname": "Burgos", "familiar_name": "Jesus", "display_name":
        "Jesus Burgos", "abbreviated_name": "JB"}, "email": "a3241659@drdrb.net",
        "email_verified": true, "disabled": false, "country": "ES", "locale": "en",
        "referral_link": "https://db.tt/ZBhfNSRz", "is_paired": false, "account_type":
        {".tag": "basic"}}'
  recorded_at: Sun, 23 Oct 2016 21:47:14 GMT
recorded_with: VCR 3.0.1
