---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/sharing/add_file_member
    body:
      encoding: UTF-8
      string: '{"access_level":"viewer_no_comment","quiet":false,"custom_message":null,"add_message_as_comment":false,"file":"/bsd.pdf","members":[{".tag":"email","email":"a@test.com"}]}'
    headers:
      Authorization:
      - Bearer VofXAX8DO1sAAAAAAAACFsM04PkG3k9OQMYjyFkvI1cJhaUYFQ1ZxEegMZeFWkVD
      Content-Type:
      - application/json
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Request-Id:
      - a76a591f3d50737730d85a5a32e19d53
    body:
      encoding: UTF-8
      string: '{"error_summary": "access_error/no_permission/..", "error": {".tag":
        "access_error", "access_error": {".tag": "no_permission"}}, "user_message":
        {"locale": "en", "text": "viewer_no_comment isn\u2019t yet supported."}}'
  recorded_at: Sat, 03 Dec 2016 11:34:36 GMT
recorded_with: VCR 3.0.1
