---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/sharing/add_file_member
    body:
      encoding: UTF-8
      string: '{"custom_message":"See my file down here.","quiet":false,"access_level":"viewer","add_message_as_comment":false,"file":"/bsd.pdf","members":[{".tag":"email","email":"a@test.com"}]}'
    headers:
      Authorization:
      - Bearer VofXAX8DO1sAAAAAAAACFsM04PkG3k9OQMYjyFkvI1cJhaUYFQ1ZxEegMZeFWkVD
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Dropbox-Request-Id:
      - a43fedbcd5dac646f5ef03099cf4f36a
      X-Server-Response-Time:
      - '562'
    body:
      encoding: UTF-8
      string: '[{"member": {".tag": "email", "email": "a@test.com"}, "result": {".tag":
        "success", "success": {".tag": "viewer"}}}]'
  recorded_at: Sat, 03 Dec 2016 11:13:55 GMT
recorded_with: VCR 3.0.1
