---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/sharing/add_file_member
    body:
      encoding: UTF-8
      string: '{"quiet":false,"custom_message":null,"access_level":"viewer","add_message_as_comment":false,"file":"/bsd.pdf","members":[{".tag":"email","email":"somebody@test.com"}]}'
    headers:
      Authorization:
      - Bearer VofXAX8DO1sAAAAAAAADcZ6y9JHEdfRuznbKbPImyPYQc_EBK7IYzBOuQ4LtvVTV
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Dropbox-Request-Id:
      - 8df5f165ab12b49cdf781d1d478a4b77
      X-Server-Response-Time:
      - '682'
    body:
      encoding: UTF-8
      string: '[{"member": {".tag": "email", "email": "somebody@test.com"}, "result":
        {".tag": "success", "success": {".tag": "viewer"}}}]'
  recorded_at: Wed, 23 Nov 2016 20:23:38 GMT
recorded_with: VCR 3.0.1
