---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/sharing/add_file_member
    body:
      encoding: UTF-8
      string: '{"quiet":false,"custom_message":null,"access_level":"viewer","add_message_as_comment":false,"file":"/bsd.pdf","members":[{".tag":"email","email":"a@test.com"}]}'
    headers:
      Authorization:
      - Bearer VofXAX8DO1sAAAAAAAACFsM04PkG3k9OQMYjyFkvI1cJhaUYFQ1ZxEegMZeFWkVD
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Dropbox-Request-Id:
      - a62c7289047887ad5f35e49593842802
      X-Server-Response-Time:
      - '494'
    body:
      encoding: UTF-8
      string: '[{"member": {".tag": "email", "email": "a@test.com"}, "result": {".tag":
        "success", "success": {".tag": "viewer"}}}]'
  recorded_at: Sat, 03 Dec 2016 11:13:52 GMT
recorded_with: VCR 3.0.1
