---
http_interactions:
- request:
    method: post
    uri: https://content.dropboxapi.com/2/files/upload_session/start
    body:
      encoding: UTF-8
      string: Hello Dropbox!
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Dropbox-Api-Arg:
      - "{}"
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server-Response-Time:
      - '958'
      X-Dropbox-Request-Id:
      - 068232b9621fc9731eb590d8bce53948
    body:
      encoding: ASCII-8BIT
      string: '{"session_id": "AAAAAAAABCYYB-S7ybi2Hg"}'
  recorded_at: Mon, 09 Jan 2017 20:30:17 GMT
- request:
    method: post
    uri: https://content.dropboxapi.com/2/files/upload_session/finish
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Dropbox-Api-Arg:
      - '{"cursor":{"session_id":"AAAAAAAABCYYB-S7ybi2Hg","offset":14},"commit":{"path":"/Homework/math/Matrices.txt","mode":{".tag":"add"}}}'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server-Response-Time:
      - '1742'
      X-Dropbox-Request-Id:
      - acef409f35d9786bfafad81023139c52
    body:
      encoding: ASCII-8BIT
      string: '{"name": "Matrices.txt", "path_lower": "/homework/math/matrices.txt",
        "path_display": "/Homework/math/Matrices.txt", "id": "id:evvfE6q6cK0AAAAAAAAFKQ",
        "client_modified": "2017-01-09T20:30:19Z", "server_modified": "2017-01-09T20:30:19Z",
        "rev": "2a6a24061bdd", "size": 14}'
  recorded_at: Mon, 09 Jan 2017 20:30:20 GMT
recorded_with: VCR 3.0.1
