---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/move
    body:
      encoding: UTF-8
      string: '{"from_path":"/z.jpg","to_path":"/b.jpg"}'
    headers:
      Authorization:
      - Bearer VofXAX8DO1sAAAAAAAACFsM04PkG3k9OQMYjyFkvI1cJhaUYFQ1ZxEegMZeFWkVD
      Content-Type:
      - application/json
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Request-Id:
      - fdd226d296070aeddd633fe8f65eb47c
    body:
      encoding: UTF-8
      string: '{"error_summary": "from_lookup/not_found/..", "error": {".tag": "from_lookup",
        "from_lookup": {".tag": "not_found"}}}'
  recorded_at: Sat, 04 Jun 2016 07:50:02 GMT
recorded_with: VCR 3.0.1
