---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/move
    body:
      encoding: UTF-8
      string: '{"from_path":"/folder","to_path":"/test/folder"}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Server-Response-Time:
      - '8845'
      X-Dropbox-Request-Id:
      - 3ad4f6b726619fb6a8e6b5645a302880
    body:
      encoding: UTF-8
      string: '{".tag": "folder", "name": "folder", "path_lower": "/test/folder",
        "path_display": "/test/folder", "id": "id:tOV8JakFasAAAAAAAAAAAQ"}'
  recorded_at: Sat, 04 Jun 2016 07:52:28 GMT
recorded_with: VCR 3.0.1
