---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/move
    body:
      encoding: UTF-8
      string: '{"from_path":"/img.png","to_path":"/image.png"}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Server-Response-Time:
      - '345'
      X-Dropbox-Request-Id:
      - ed3a1398adf7c94ee9d74ba536d335be
    body:
      encoding: UTF-8
      string: '{".tag": "file", "name": "image.png", "path_lower": "/image.png", "path_display":
        "/image.png", "id": "id:jVVdzRI3CnAAAAAAAAAAAQ", "client_modified": "2016-05-22T09:29:22Z",
        "server_modified": "2016-06-04T07:50:36Z", "rev": "a9f24061bdd", "size": 77019}'
  recorded_at: Sat, 04 Jun 2016 07:50:37 GMT
recorded_with: VCR 3.0.1
