---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/move
    body:
      encoding: UTF-8
      string: '{"autorename":true,"from_path":"/a.jpg","to_path":"/photo.jpg"}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Dropbox-Request-Id:
      - b8e5b435459babb7c776c341f248ca1a
      X-Server-Response-Time:
      - '495'
    body:
      encoding: UTF-8
      string: '{".tag": "file", "name": "photo (1).jpg", "path_lower": "/photo (1).jpg",
        "path_display": "/photo (1).jpg", "id": "id:evvfE6q6cK0AAAAAAAAB2w", "client_modified":
        "2016-04-09T15:47:32Z", "server_modified": "2016-12-26T11:19:04Z", "rev":
        "2a5e24061bdd", "size": 396317}'
  recorded_at: Mon, 26 Dec 2016 11:19:06 GMT
recorded_with: VCR 3.0.1
