---
http_interactions:
- request:
    method: post
    uri: https://content.dropboxapi.com/2/files/upload
    body:
      encoding: UTF-8
      string: Our country is a mess!
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Dropbox-Api-Arg:
      - '{"client_modified":"2016-12-25T12:00:00Z","path":"/another_file.txt"}'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server-Response-Time:
      - '794'
      X-Dropbox-Request-Id:
      - 7dd24e238c3dd6d4d0973f00549a3d50
    body:
      encoding: ASCII-8BIT
      string: '{"name": "another_file.txt", "path_lower": "/another_file.txt", "path_display":
        "/another_file.txt", "id": "id:evvfE6q6cK0AAAAAAAAFJg", "client_modified":
        "2016-12-25T12:00:00Z", "server_modified": "2016-12-26T15:38:09Z", "rev":
        "2a6924061bdd", "size": 22}'
  recorded_at: Mon, 26 Dec 2016 15:38:09 GMT
recorded_with: VCR 3.0.1
