---
http_interactions:
- request:
    method: post
    uri: https://content.dropboxapi.com/2/files/upload
    body:
      encoding: UTF-8
      string: Hola Dropbox!
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Dropbox-Api-Arg:
      - '{"autorename":true,"mode":{".tag":"add"},"path":"/file.txt"}'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server-Response-Time:
      - '677'
      X-Dropbox-Request-Id:
      - f994ccff21ad23d05de7c695702ace1e
    body:
      encoding: ASCII-8BIT
      string: '{"name": "file (1).txt", "path_lower": "/file (1).txt", "path_display":
        "/file (1).txt", "id": "id:evvfE6q6cK0AAAAAAAAFIg", "client_modified": "2016-12-26T14:55:14Z",
        "server_modified": "2016-12-26T14:55:14Z", "rev": "2a6024061bdd", "size":
        13}'
  recorded_at: Mon, 26 Dec 2016 14:55:14 GMT
recorded_with: VCR 3.0.1
