---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/get_metadata
    body:
      encoding: UTF-8
      string: '{"path":"/dropbox_api_fixtures/upload/file.txt"}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Dropbox-Request-Id:
      - 9989eb028f8ed0a79743c48d62bcfd66
      X-Server-Response-Time:
      - '112'
    body:
      encoding: ASCII-8BIT
      string: '{".tag": "file", "name": "file.txt", "path_lower": "/dropbox_api_fixtures/upload/file.txt",
        "path_display": "/dropbox_api_fixtures/upload/file.txt", "id": "id:iWFsGCmi1sAAAAAAAAAADQ",
        "client_modified": "2017-07-09T10:23:25Z", "server_modified": "2017-07-09T10:23:25Z",
        "rev": "13576c68d6", "size": 13, "content_hash": "6e50b8ff301198b6715ed02ece1ff8a9983c6e9aa71bc561e14e2c514d7868cd"}'
  recorded_at: Sun, 09 Jul 2017 10:27:54 GMT
- request:
    method: post
    uri: https://content.dropboxapi.com/2/files/upload
    body:
      encoding: UTF-8
      string: Hallo Dropbox!
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Dropbox-Api-Arg:
      - '{"autorename":true,"mode":{".tag":"update","update":"13576c68d6"},"path":"/dropbox_api_fixtures/upload/file.txt"}'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server-Response-Time:
      - '619'
      X-Dropbox-Request-Id:
      - 37e286b6d4aaf7a2286180a248908317
    body:
      encoding: ASCII-8BIT
      string: '{"name": "file.txt", "path_lower": "/dropbox_api_fixtures/upload/file.txt",
        "path_display": "/dropbox_api_fixtures/upload/file.txt", "id": "id:iWFsGCmi1sAAAAAAAAAADQ",
        "client_modified": "2017-07-09T10:27:55Z", "server_modified": "2017-07-09T10:27:56Z",
        "rev": "16576c68d6", "size": 14, "content_hash": "a08cf7310b48da5822f42a39be4eebff13aff979b316bccc7da309ad6f00dd74"}'
  recorded_at: Sun, 09 Jul 2017 10:27:56 GMT
recorded_with: VCR 3.0.3
