---
http_interactions:
- request:
    method: post
    uri: https://content.dropboxapi.com/2/files/upload
    body:
      encoding: UTF-8
      string: Hello Dropbox!
    headers:
      Authorization:
      - Bearer VofXAX8DO1sAAAAAAAACYb6EwqPZeex8fRR6VnXnInFgPprceGV1e2bXvpGn9jkm
      Dropbox-Api-Arg:
      - '{"path":"/file.txt"}'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server-Response-Time:
      - '652'
      X-Dropbox-Request-Id:
      - eaf3c26854f8e5ca3be6035372e41636
    body:
      encoding: ASCII-8BIT
      string: '{"name": "file.txt", "path_lower": "/file.txt", "path_display": "/file.txt",
        "id": "id:evvfE6q6cK0AAAAAAAACKQ", "client_modified": "2016-10-22T08:41:34Z",
        "server_modified": "2016-10-22T08:41:34Z", "rev": "1ab624061bdd", "size":
        14}'
  recorded_at: Sat, 22 Oct 2016 08:41:34 GMT
recorded_with: VCR 3.0.1
