---
http_interactions:
- request:
    method: post
    uri: https://content.dropboxapi.com/2/files/upload
    body:
      encoding: UTF-8
      string: Hola Dropbox!
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Dropbox-Api-Arg:
      - '{"autorename":true,"mode":{".tag":"overwrite"},"path":"/dropbox_api_fixtures/upload/file.txt"}'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server-Response-Time:
      - '671'
      X-Dropbox-Request-Id:
      - 2c67ff8f4e78181711b6e8daa6a06b3e
    body:
      encoding: ASCII-8BIT
      string: '{"name": "file.txt", "path_lower": "/dropbox_api_fixtures/upload/file.txt",
        "path_display": "/dropbox_api_fixtures/upload/file.txt", "id": "id:iWFsGCmi1sAAAAAAAAAADQ",
        "client_modified": "2017-07-09T10:23:25Z", "server_modified": "2017-07-09T10:23:25Z",
        "rev": "13576c68d6", "size": 13, "content_hash": "6e50b8ff301198b6715ed02ece1ff8a9983c6e9aa71bc561e14e2c514d7868cd"}'
  recorded_at: Sun, 09 Jul 2017 10:23:25 GMT
recorded_with: VCR 3.0.3
