---
http_interactions:
- request:
    method: post
    uri: https://content.dropboxapi.com/2/files/upload
    body:
      encoding: UTF-8
      string: Hello Dropbox!
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Dropbox-Api-Arg:
      - '{"path":"/dropbox_api_fixtures/upload/file_28.txt"}'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server-Response-Time:
      - '635'
      X-Dropbox-Request-Id:
      - f6b7d72b6b1511f7331acf4d8a81eaec
    body:
      encoding: ASCII-8BIT
      string: '{"name": "file_28.txt", "path_lower": "/dropbox_api_fixtures/upload/file_28.txt",
        "path_display": "/dropbox_api_fixtures/upload/file_28.txt", "id": "id:iWFsGCmi1sAAAAAAAAAAQQ",
        "client_modified": "2017-07-09T10:32:40Z", "server_modified": "2017-07-09T10:32:40Z",
        "rev": "47576c68d6", "size": 14, "content_hash": "16dff8700700b9aa627e24bbf832940c084b41ade5c5d6fe5417963a547ed9c2"}'
  recorded_at: Sun, 09 Jul 2017 10:32:41 GMT
[...]
- request:
    method: post
    uri: https://content.dropboxapi.com/2/files/upload
    body:
      encoding: UTF-8
      string: Hello Dropbox!
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Dropbox-Api-Arg:
      - '{"path":"/dropbox_api_fixtures/upload/file_30.txt"}'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 429
      message: too_many_write_operations/..
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - '1'
      X-Dropbox-Request-Id:
      - c292471a8596f7a6513e98ef7fc2647b
    body:
      encoding: UTF-8
      string: '{"error_summary": "too_many_write_operations/..", "error": {"reason":
        {".tag": "too_many_write_operations"}}}'
  recorded_at: Sun, 09 Jul 2017 10:32:41 GMT
[...]
- request:
    method: post
    uri: https://content.dropboxapi.com/2/files/upload
    body:
      encoding: UTF-8
      string: Hello Dropbox!
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Dropbox-Api-Arg:
      - '{"path":"/dropbox_api_fixtures/upload/file_1.txt"}'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 429
      message: too_many_write_operations/...
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - '1'
      X-Dropbox-Request-Id:
      - 59675166d197ecbf448af14da7057b5c
    body:
      encoding: UTF-8
      string: '{"error_summary": "too_many_write_operations/...", "error": {"reason":
        {".tag": "too_many_write_operations"}}}'
  recorded_at: Sun, 09 Jul 2017 10:32:41 GMT
recorded_with: VCR 3.0.3
