---
http_interactions:
- request:
    method: post
    uri: https://content.dropboxapi.com/2/files/upload
    body:
      encoding: UTF-8
      string: Hello Dropbox!
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Dropbox-Api-Arg:
      - '{"path":"/file.txt"}'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 429
      message: too_many_write_operations/
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - '1'
      X-Dropbox-Request-Id:
      - 3fa4a4e4e6d67a86977a0d204addf623
    body:
      encoding: UTF-8
      string: '{"error_summary": "too_many_write_operations/", "error": {"reason":
        {".tag": "too_many_write_operations"}}}'
  recorded_at: Mon, 31 Oct 2016 15:58:41 GMT
recorded_with: VCR 3.0.1
