---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/users/get_account
    body:
      encoding: UTF-8
      string: '{"account_id":"dbid:AAAKVPLEKkkccsZMFkkZNXFeyXrPPhrtFxs"}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Server-Response-Time:
      - '67'
      X-Dropbox-Request-Id:
      - fcb08c8b54fcec35cb00ed5deaa66b6f
    body:
      encoding: UTF-8
      string: '{"account_id": "dbid:AAAKVPLEKkkccsZMFkkZNXFeyXrPPhrtFxs", "name":
        {"given_name": "Jesus", "surname": "Burgos", "familiar_name": "Jesus", "display_name":
        "Jesus Burgos"}, "email": "a3241659@drdrb.net", "email_verified": true, "disabled":
        false, "is_teammate": true}'
  recorded_at: Fri, 17 Jun 2016 09:13:34 GMT
recorded_with: VCR 3.0.1
