---
http_interactions:
- request:
    method: post
    uri: https://content.dropboxapi.com/2/files/download
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer VofXAX8DO1sAAAAAAAACFsM04PkG3k9OQMYjyFkvI1cJhaUYFQ1ZxEegMZeFWkVD
      Dropbox-Api-Arg:
      - '{"path":"/file.txt"}'
      Content-Type:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/octet-stream
      Etag:
      - W/"1a6b24061bdd"
      Original-Content-Length:
      - '12'
      Dropbox-Api-Result:
      - '{"name": "file.txt", "path_lower": "/file.txt", "path_display": "/file.txt",
        "id": "id:XsZovXcpKaAAAAAAAAAAAQ", "client_modified": "2016-07-10T19:19:47Z",
        "server_modified": "2016-07-10T19:19:47Z", "rev": "1a6b24061bdd", "size":
        12}'
      X-Server-Response-Time:
      - '482'
      X-Dropbox-Request-Id:
      - 82eb4cc8aa785d9c4ad9d6ee5fc58b0f
    body:
      encoding: UTF-8
      string: 'Viva Rusia!

'
  recorded_at: Sun, 10 Jul 2016 19:20:11 GMT
recorded_with: VCR 3.0.1
