---
http_interactions:
- request:
    method: post
    uri: https://content.dropboxapi.com/2/files/download
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Dropbox-Api-Arg:
      - '{"path":"/file.txt"}'
      Content-Type:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/octet-stream
      Etag:
      - W/"1ab624061bdd"
      Original-Content-Length:
      - '14'
      Dropbox-Api-Result:
      - '{"name": "file.txt", "path_lower": "/file.txt", "path_display": "/file.txt",
        "id": "id:evvfE6q6cK0AAAAAAAACKQ", "client_modified": "2016-10-22T08:41:34Z",
        "server_modified": "2016-10-22T08:41:34Z", "rev": "1ab624061bdd", "size":
        14}'
      X-Server-Response-Time:
      - '227'
      X-Dropbox-Request-Id:
      - 8a063bd8609cb2264c7d5f4fa270c66a
    body:
      encoding: UTF-8
      string: "Viva Rusia!\n"
  recorded_at: Sun, 11 Dec 2016 11:39:25 GMT
recorded_with: VCR 3.0.1
