---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/get_metadata
    body:
      encoding: UTF-8
      string: '{"include_deleted":true,"path":"/dropbox_api_fixtures/get_metadata/deleted_file.txt"}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Dropbox-Request-Id:
      - b970c92e3b49efb5cc4bf0ab5b923ae2
      X-Server-Response-Time:
      - '91'
    body:
      encoding: UTF-8
      string: '{".tag": "deleted", "name": "deleted_file.txt", "path_lower": "/dropbox_api_fixtures/get_metadata/deleted_file.txt",
        "path_display": "/dropbox_api_fixtures/get_metadata/deleted_file.txt"}'
  recorded_at: Wed, 25 Jan 2017 20:10:46 GMT
recorded_with: VCR 3.0.1
