---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/get_metadata
    body:
      encoding: UTF-8
      string: '{"path":"/dropbox_api_fixtures/get_metadata/file.txt"}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Dropbox-Request-Id:
      - bcd8087eafd9acad3f8a52039281a19e
      X-Server-Response-Time:
      - '112'
    body:
      encoding: ASCII-8BIT
      string: '{".tag": "file", "name": "file.txt", "path_lower": "/dropbox_api_fixtures/get_metadata/file.txt",
        "path_display": "/dropbox_api_fixtures/get_metadata/file.txt", "id": "id:evvfE6q6cK0AAAAAAAAFRw",
        "client_modified": "1988-12-08T01:01:00Z", "server_modified": "2017-01-25T20:09:50Z",
        "rev": "2aa424061bdd", "size": 20, "content_hash": "6f18683e28aed77f31f3fc009d3417394a08b1faabf88419ae707f19778301b0"}'
  recorded_at: Wed, 25 Jan 2017 20:10:44 GMT
recorded_with: VCR 3.0.1
