---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/get_metadata
    body:
      encoding: UTF-8
      string: '{"path":"/dropbox_api_fixtures/get_metadata/folder"}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Dropbox-Request-Id:
      - f74c733e51b04e6e29b0c2cff8d80451
      X-Server-Response-Time:
      - '129'
    body:
      encoding: UTF-8
      string: '{".tag": "folder", "name": "folder", "path_lower": "/dropbox_api_fixtures/get_metadata/folder",
        "path_display": "/dropbox_api_fixtures/get_metadata/folder", "id": "id:evvfE6q6cK0AAAAAAAAFSA"}'
  recorded_at: Wed, 25 Jan 2017 20:10:44 GMT
recorded_with: VCR 3.0.1
