---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/get_metadata
    body:
      encoding: UTF-8
      string: '{"path":"/file.txt"}'
    headers:
      Authorization:
      - Bearer VofXAX8DO1sAAAAAAAACFsM04PkG3k9OQMYjyFkvI1cJhaUYFQ1ZxEegMZeFWkVD
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Server-Response-Time:
      - '88'
      X-Dropbox-Request-Id:
      - 8a1010b8b01d49b2007b5e38ee91f163
    body:
      encoding: UTF-8
      string: '{".tag": "file", "name": "file.txt", "path_lower": "/file.txt", "path_display":
        "/file.txt", "id": "id:Oye-ybT2HJAAAAAAAAAAAQ", "client_modified": "2016-05-01T01:01:00Z",
        "server_modified": "2016-05-01T01:01:00Z", "rev": "2ad24061bdd", "size": 33}'
  recorded_at: Sun, 22 May 2016 07:14:42 GMT
recorded_with: VCR 3.0.1
