---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/get_metadata
    body:
      encoding: UTF-8
      string: '{"include_deleted":true,"path":"/file.txt"}'
    headers:
      Authorization:
      - Bearer VofXAX8DO1sAAAAAAAACFsM04PkG3k9OQMYjyFkvI1cJhaUYFQ1ZxEegMZeFWkVD
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Server-Response-Time:
      - '78'
      X-Dropbox-Request-Id:
      - fd4351f225138292e8adb9133b6fa97b
    body:
      encoding: UTF-8
      string: '{".tag": "deleted", "name": "file.txt", "path_lower": "/file.txt",
        "path_display": "/file.txt"}'
  recorded_at: Sun, 22 May 2016 07:59:48 GMT
recorded_with: VCR 3.0.1
