---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/get_metadata
    body:
      encoding: UTF-8
      string: '{"path":"/folder"}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Server-Response-Time:
      - '78'
      X-Dropbox-Request-Id:
      - 71fd6e4e32b3f5968c76600e877ba1bd
    body:
      encoding: UTF-8
      string: '{".tag": "folder", "name": "folder", "path_lower": "/folder", "path_display":
        "/folder", "id": "id:tOV8JakFasAAAAAAAAAAAQ"}'
  recorded_at: Sun, 22 May 2016 07:15:08 GMT
recorded_with: VCR 3.0.1
