---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/sharing/share_folder
    body:
      encoding: UTF-8
      string: '{"member_policy":"anyone","acl_update_policy":"owner","shared_link_policy":"anyone","force_async":false,"path":"/folder_b"}'
    headers:
      Authorization:
      - Bearer VofXAX8DO1sAAAAAAAACFsM04PkG3k9OQMYjyFkvI1cJhaUYFQ1ZxEegMZeFWkVD
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Http-Protocol:
      - None
      X-Server-Response-Time:
      - '1141'
      X-Dropbox-Request-Id:
      - ccfa9187d9e259475ec1a0d2228a4de6
    body:
      encoding: UTF-8
      string: '{".tag": "complete", "access_type": {".tag": "owner"}, "is_team_folder":
        false, "policy": {"acl_update_policy": {".tag": "owner"}, "shared_link_policy":
        {".tag": "anyone"}}, "path_lower": "/folder_b", "name": "folder_b", "shared_folder_id":
        "1236358158", "time_invited": "2016-06-11T07:30:09Z"}'
  recorded_at: Sat, 11 Jun 2016 07:30:11 GMT
recorded_with: VCR 3.0.1
